.features {
    .container {
        padding: 2rem 5rem;
    }

    .features__title {
        margin: 0 auto;
        max-width: 64%;
        text-align: center;
    }

    .features__subtitle {
        text-align: center;
        margin: 1.125rem auto 0;
        line-height: 1.22;
        width: 62%;
    }
}

.features__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 4rem;

    .features__item {
        flex: 1;
        padding: 0 3%;
        position: relative;

        &:before {
            content: url("../../img/delimiter_dots.png");
            position: absolute;
            top: 3.75rem;
            right: 0;
            transform: translateX(50%);
        }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;

            &::before {
                display: none;
            }
        }      
    }
}

@media (max-width: 768px) {
    .features {
        .container {
            padding: 0 0.75rem;
        }

        .features__title {
            margin: 0 auto;
            max-width: 80%;
            text-align: center;
        }
    
        .features__subtitle {
            text-align: center;
            margin: 1.125rem auto 0;
            line-height: 1.22;
            width: 80%;
        }

        .features__item {

            &::before {
                display: none;
            }
        }
    }
}

@media (max-width: 480px) {
    .features {
        .features__title {
            max-width: 100%;
        }
    
        .features__subtitle {
            margin: 0.75rem auto 0;
            width: 100%;
        }
    }

    .features__list {
        flex-direction: column;

        .features__item {
            padding: 1rem 0;
        }
    }
}
