.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.benefits__list .benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.5rem;
  width: 10.375rem;
  height: 3.5rem;
}
.benefits__list .benefits__item .benefits__icon {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
}
.benefits__list .benefits__item .benefits__text {
  display: inline-block;
  width: 7.125rem;
  line-height: 1.1;
}
.benefits__list .benefits__item:last-child {
  margin-right: 0;
}