.btn {
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    padding: 1.125rem 2.5625rem;
    line-height: 1;
    border-radius: 6.25rem;
    background-color: #E01F3D;
    color: #fff;
    border: 0;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
        background-color: #CA1B36;
    }
}

.btn--transparent {
    padding: 1.125rem 0.875rem;
    background-color: transparent;
    font-weight: normal;
    cursor: pointer;

    &:hover {
        background-color: transparent;
        color: #E01F3D;
    }
}