.btn {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 18px 41px;
  line-height: 1;
  border-radius: 100px;
  background-color: #E01F3D;
  color: #fff;
}
.btn:hover {
  background-color: #CA1B36;
}