.feat {
    // width: 276px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    .feat__icon-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8rem;
        height: 8rem;
        background-color: #F2F5F4;
        border-radius: 50%;
    }

    .feat__icon {
        width: 4.25rem;
        height: 4.25rem;
    }
    
    .feat__text-content {

        .feat__name {
            margin-top: 1.5rem;
        }
        .feat__description {
            margin-top: 0.5rem;
            line-height: 1.22;
            width: 100%;
            color: #666666;
        }
    }
}
    

@media (max-width: 480px) {
    .feat {
        flex-direction: row;
        text-align: left;

        .feat__icon-wrap {
            margin-right: 0.75rem;
        }

        .feat__text-content {
            max-width: 68%;
        }
    }
}