.features .container {
  padding: 2rem 5rem;
}
.features .features__title {
  margin: 0 auto;
  max-width: 64%;
  text-align: center;
}
.features .features__subtitle {
  text-align: center;
  margin: 1.125rem auto 0;
  line-height: 1.22;
  width: 62%;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 4rem;
}
.features__list .features__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
.features__list .features__item:before {
  content: url("../../img/delimiter_dots.png");
  position: absolute;
  top: 3.75rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.features__list .features__item:first-child {
  padding-left: 0;
}
.features__list .features__item:last-child {
  padding-right: 0;
}
.features__list .features__item:last-child::before {
  display: none;
}

@media (max-width: 768px) {
  .features .container {
    padding: 0 0.75rem;
  }
  .features .features__title {
    margin: 0 auto;
    max-width: 80%;
    text-align: center;
  }
  .features .features__subtitle {
    text-align: center;
    margin: 1.125rem auto 0;
    line-height: 1.22;
    width: 80%;
  }
  .features .features__item::before {
    display: none;
  }
}
@media (max-width: 480px) {
  .features .features__title {
    max-width: 100%;
  }
  .features .features__subtitle {
    margin: 0.75rem auto 0;
    width: 100%;
  }

  .features__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .features__list .features__item {
    padding: 1rem 0;
  }
}