.feat {
    width: 276px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    .feat__icon-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 128px;
        height: 128px;
        background-color: #F2F5F4;
        border-radius: 50%;
    }

    .feat__icon {
        width: 68px;
        height: 68px;
    }

    .feat__name {
        margin-top: 24px;
    }

    .feat__description {
        margin-top: 7px;
        line-height: 1.22;
        width: 247px;
        color: #666666;
    }
}