.gamburger {
    cursor: pointer;
    display: none;

    &::before {
        content: "";
        display: block;
        width: 1.625rem;
        height: 0.25rem;
        background-color: #292929;
        border-radius: 0.3125rem;
    }

    .gamburger__midle {
        width: 1.625rem;
        height: 0.25rem;
        background-color: #292929;
        border-radius: 0.375rem;
        margin: 0.375rem 0;
    }

    &::after {
        content: "";
        display: block;
        width: 1.625rem;
        height: 0.25rem;
        background-color: #292929;
        border-radius: 0.3125rem;
    }

}

@media (max-width: 768px) {
    .gamburger {display: block;}
}