.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1.75rem 0;
  width: 100%;
}
.header .phone {
  margin-right: 1.5rem;
}

@media (max-width: 768px) {
  .header {
    position: absolute;
    top: 0;
    padding: 1.5rem 1.5rem;
    width: 100%;
    background-color: transparent;
    z-index: 2;
  }
  .header .phone {
    display: none;
  }
}
@media (max-width: 480px) {
  .header {
    padding: 1.5rem 0.625rem;
  }
}