.make-order-section {
  color: #fff;
  background: url(../../img/cta.png) center bottom/100% 100% no-repeat;
  background-color: #181818;
  position: relative;
}
.make-order-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5rem;
}
.make-order-section::before {
  content: url(../../img/Polygon.png);
  position: absolute;
  top: 0;
  right: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.make-order__title {
  text-align: center;
}

.make-order__form {
  margin-top: 3.125rem;
}

@media (max-width: 768px) {
  .make-order-section .container {
    padding: 0 0.625rem;
  }
  .make-order-section::before {
    right: 10%;
  }

  .make-order__form {
    margin-top: 1.125rem;
    padding: 0 4rem;
  }
}
@media (max-width: 480px) {
  .make-order-section::before {
    right: 10%;
  }

  .make-order__form {
    margin-top: 1.125rem;
    padding: 0 0;
  }
}