.menu {
  margin: 0 30px;
  padding-top: 5px;
}

.menu__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item {
  margin-right: 1.5rem;
  font-size: 1.125rem;
  font-family: "Alegreya Sans", Helvetica, sans-serif;
  margin-top: 5px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item .menu__link {
  white-space: nowrap;
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }
}