.menu {
    margin: 0 30px;
    padding-top: 5px;
}

.menu__list {
    flex-wrap: wrap;
}

.menu__item {
    margin-right: 1.5rem;
    font-size: 1.125rem;
    font-family: 'Alegreya Sans', Helvetica, sans-serif;
    margin-top: 5px;

    &:last-child {
        margin-right: 0;
    }

    .menu__link {
        white-space: nowrap;
    }
}