.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.125rem;
}
.phone__number {
  white-space: nowrap;
}
.phone__image {
  width: 0.875rem;
  height: 0.875rem;
  margin-right: 0.375rem;
}

@media (max-width: 768px) {
  .phone {
    color: #E01F3D;
  }
  .phone__image {
    fill: #E01F3D;
  }
}
@media (max-width: 480px) {
  .phone {
    color: #000;
  }
  .phone__image {
    fill: #000;
  }
}