.section-reviews {
    position: relative;

    &::after {
        content: "";
        display: block;
        width: 2.1875rem;
        height: 2.1875rem;
        position: absolute;
        bottom: 0;
        left: 19%;
        transform: translateY(50%);
        background-color: #868686;
        border-radius: 50%;
        z-index: 1;
    }
}

.reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;

    .reviews__display {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 2.625rem;
        margin-top: 2rem;
        background-color: #F8FAF9;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            display: block;
            width: 5.1875rem;
            height: 5.1875rem;
            border-radius: 50%;
            top: -3.75rem;
            left: 50%;
            transform: translateX(-50%);
            background-color: #fff;

        }

        .reviews__avatar {
            width: 15.8125rem;
            height: 16.5rem;

            &-img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .reviews__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-left: 2.375rem;
            width: 53%;
    
            .reviews__text {
                color: #666;
                line-height: 1.24;
                margin-top: 0.75rem;
            }
    
            .reviews__author {
                font-size: 1.125rem;
                font-weight: bold;
                margin-top: 1.25rem;
            }
        }
    }

    .reviews__switcher {
        display: flex;
        margin-top: 1rem;

        &-item {
            margin-right: 0.375rem;
        }

        &-item:last-child {
            margin-right: 0px;
        }
    }

}

@media (max-width:768px) {
    .section-reviews {
        .reviews {
            padding: 0 1.375rem;

            .reviews__display {

                &::before {
                    display: none;
                }
    
                .reviews__avatar {
                    width: 8.125rem;
                    height: 8.125rem;
                }
    
                .reviews__content {
                    align-items: center;
                    width: 100%;
                    text-align: center;
                    margin-left: 0;
                    margin-top: 2rem;
                }
            }
        }
        
        .reviews__switcher {
            margin-top: 2rem;
        }
    }
}

@media (max-width: 480px) {
    .section-reviews {
        position: relative;
    
        &::after {
            left: 10%;
        }

        .reviews {
            padding: 0 0.625rem;

            .reviews__display {
                flex-direction: column;
                padding: 3.5rem 1.5rem 2.625rem;
    
                .reviews__avatar {
                    width: 8.125rem;
                    height: 8.125rem;
                }
    
                .reviews__content {
                    align-items: center;
                    width: 100%;
                    text-align: center;
                    margin-left: 0;
                    margin-top: 2rem;
                }
            }
        }
        
        .reviews__switcher {
            margin-top: 2rem;
        }
    }
}
