.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.socials__list .socials__item {
  margin-right: 0.625rem;
}
.socials__list .socials__item:last-child {
  margin-right: 0;
}
.socials__list .socials__item .socials__image {
  width: 1.875rem;
  height: 1.875rem;
  fill: #B3B3B3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.socials__list .socials__item .socials__image:hover {
  fill: #000;
}