.slider-section {
    background-color: #F8FAF9;
    position: relative;

    .container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slider__top-triangle {
        width: rem(34.5px);
        height: rem(34px);
        position: absolute;
        top: 0;
        left: 20%;
        transform: translateY(-50%);

        @include tablets {
            left: 6%;
        }

        @include phones {
            left: 8%;
        }
    }

    &:after {
        content: '';
        width: rem(24px);
        height: rem(24px);
        position: absolute;
        background-color: #292929;
        bottom: 0;
        right: 20%;
        transform: rotate(29.11deg) translateY(50%);
        z-index: 5;

        @include tablets {
            right: 6%;
        }

        @include phones {
            right: 8%;
        }
    }

}

.slider {
    position: relative;
    width: 90%;
    height: 100%;
    overflow: hidden;

    @include phones {
        width: 100%;
    }

    .arrow {
        position: absolute;
        transform: translateY(-50%);
        fill: transparent;
        width: rem(24px);
        height: rem(40px);
        cursor: pointer;
        z-index: 1;
    }

    .slider__left-arrow {
        left: 0;
        top: 50%;

        @include tablets {
            top: 38%;
            left: 16%;
        }

        @include phones {
            top: 34%;
            left: 8px;
        }
    }

    .slider__right-arrow {
        right: 0;
        top: 50%;
        @include tablets {
            top: 38%;
            right: 16%;
        }

        @include phones {
            top: 34%;
            right: 8px;
        }
    }

    .slider__list {
        position: absolute;
        display: flex;
        align-items: center;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        transition: 0.4s;

    }
}

.slide {
    display: flex;
    width: 100%;
    // padding: 0 rem(35px);
    padding-left: rem(50px);
    align-items: center;

    @include tablets {
        flex-direction: column;
        padding: 0;
        text-align: center;
    }

    .slide__image {
        margin-right: rem(60px);
        width: 48%;

        @include tablets {
            margin-right: 0;
            width: 46%;    
        }

        @include phones {
            width: 68%;
        }
    }

    .slide__content {
        flex: 1;

        @include tablets {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .slide__title {
        margin-top: rem(25px);
        line-height: 1.22;
        width: 100%;

        @include tablets {
            font-size: rem(28px);
            margin-top: rem(48px);
        }

        @include phones {
            margin-top: rem(26px);
            width: 90%;
        }
    }

    .slide__description {
        width: 80%;
        margin-top: rem(24px);
        color: $gray_text_color;
        line-height: 1.0;
        
        @include tablets {
            width: 92%;   
            margin-top: rem(14px);
        }
    }
    
    .slide__row {
        display: flex;
        margin-top: rem(24px);
        align-items: center;

    }

    .slide__col {
        margin-right: rem(90px);

        &-title {
            color: $gray_text_color;
            line-height: 1.1;
        }

        &-description {
            color: #000;
            font-size: rem(18px);
            font-weight: 700;
            line-height: 1.1;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .slide__price {
        font-size: rem(36px);
        margin-right: rem(20px);
    }

    .slide__btn {
        padding: rem(21px) rem(41px);
    }
}

.slide__gear-wrapper {
    background-color: #9A9A9A;
    width: rem(91px);
    height: rem(91px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    position: relative;

    @include tablets {
        display: none;
    }

    .slide__gear {
        fill: #fff;
        width: rem(42px);
        height: rem(42px);
        transition: 0.4s;
    }
}

.slide__options-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: rem(273px);
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(40px);
    border-radius: 4px;
    top: 0;
    left: 100%;
    max-height: 0px;
    opacity: 0;
    overflow: hidden;
    transition: padding 0.05s 0.3s, max-height 0.4s 0.0s, opacity 0.4s 0.0s;

    .slide__options-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 18px;

        &:first-child {
            margin-top: 0;
        }

        .slide__options-name {
            display: flex;
            align-items: center;

            .slide__options-icon {
                width: rem(24px);
                height: rem(24px);
                margin-right: rem(12px);
            }
        }
    }
}

.slide__gear-wrapper:hover {

    .slide__gear {
        transform: rotate(90deg);
    }

    .slide__options-list {
        // transition: max-height 0.4s;
        transition: max-height 0.4s 0.0s, padding 0.0s 0.0s, opacity 0.4s 0.0s;
        opacity: 1;
        max-height: 300px;
        padding: rem(28px) rem(26px) rem(24px);
    }
}